

body {
    display: flex;
    flex-direction: column;
}

.section-1 {
    background-color: #1F2937;
    height: 450px;
}

.header 
{display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
     
}

ul {display: flex;
list-style-type: none;
padding: 0;
gap: 75px;
}

li a {
    text-decoration: none;
    color: #e5e7eb;

}

img {
    width: 400px;
    height: auto;
}

.s1-content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.left {
    width: 350px;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #e5e7e5;
}

button {
    margin-top: 10px;
    background-color: #3882f6;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 30%;
    font-weight: bold;
    border: none;
}

.s2-title {
font-size: 36px;
font-weight: extra-bold;
color: black;
margin-top: 60px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underline {
    width: 500px;
    border-bottom: 2px solid black;
    margin-bottom: 60px;
}

.top, .bottom {
    display: flex;
    gap: 75px;
    align-items: center;
    justify-content: center;
}

.top {
    margin-bottom: 50px;
}
.bottom {
    margin-bottom: 50px;
}

.top img {
    width: 500px;
    height: auto;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5e7EB;
    height: 300px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    
}