

body {
    display: flex;
    flex-direction: column;
}

.section-1 {
    background-color: #1F2937;
    height: 450px;
}

.header 
{display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb; 
}

ul {display: flex;
list-style-type: none;
padding: 0;
gap: 30px;
}

img {
    width: 350px;
    height: auto;
}

.s1-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.left {
    width: 350px;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #e5e7e5;
}

button {
    margin-top: 10px;
}