* {
    border: 1px solid black;    
}

body {
    display: flex;
    flex-direction: column;
}

.section-1 {
    background-color: #1F2937;
}

.header 
{display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb; 
}

ul {display: flex;
list-style-type: none;
padding: 0}

img {
    width: 200px;
    height: auto;
}

.s1-content {
    display: flex;
}